In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('DataHacks_Workshop.csv', skiprows=18)

empty_columns = df.isna().any()
empty_column_names = empty_columns[empty_columns].index.tolist()
print("Columns with empty values:", empty_column_names)

df = df.drop(['flags', 'is_type', 'specelt_no', 'specimen_sex', 'comments', 'difference', 'accepted_attr', 'plant_organ',
              'plant_organ2', 'abund_value', 'abund_unit', 'latlng_basis', 'geogscale', 'tectonic_setting', 'geology_comments', 
              'museum', 'collection_coverage', 'collection_size', 'rock_censused', 'collectors', 'collection_dates',
              'collection_comments', 'taxonomy_comments'], axis=1)
df

C:\Users\nks71\AppData\Local\Temp\ipykernel_22880\1034979472.py:1: DtypeWarning: Columns (2,14,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DataHacks_Workshop.csv', skiprows=18)

Columns with empty values: ['flags', 'specimen_id', 'is_type', 'specelt_no', 'specimen_side', 'specimen_part', 'specimen_sex', 'n_measured', 'measurement_source', 'magnification', 'comments', 'identified_rank', 'difference', 'accepted_name', 'accepted_attr', 'accepted_rank', 'accepted_no', 'ref_author', 'ref_pubyr', 'phylum', 'class', 'order', 'family', 'genus', 'plant_organ', 'plant_organ2', 'abund_value', 'abund_unit', 'collection_subset', 'collection_aka', 'cc', 'state', 'county', 'latlng_basis', 'geogscale', 'geogcomments', 'environment', 'tectonic_setting', 'geology_comments', 'collection_type', 'collection_methods', 'museum', 'collection_coverage', 'collection_size', 'rock_censused', 'collectors', 'collection_dates', 'collection_comments', 'taxonomy_comments']

,specimen_no,record_type,occurrence_no,reid_no,collection_no,specimen_id,specimen_side,specimen_part,n_measured,measurement_source,...,lng,lat,cc,state,county,latlng_precision,geogcomments,environment,collection_type,collection_methods
0,76,spm,443591,0,43689,NaN,NaN,m1,33.0,NaN,...,11.550000,45.549999,IT,Vicenza,NaN,seconds,"Site is on the slopes of Colli Berici, close t...",cave,general faunal/floral,NaN
1,10998,spm,155413,0,13832,BGS GSM 22055,left,valve,1.0,picture,...,-3.250000,52.750000,UK,Wales,Powys,minutes,"""Old Series Geological Map grid references: Ll...",marine indet.,taxonomic,survey of museum collection
2,10999,spm,155413,0,13832,BGS GSM 24287,left,valve,1.0,picture,...,-3.250000,52.750000,UK,Wales,Powys,minutes,"""Old Series Geological Map grid references: Ll...",marine indet.,taxonomic,survey of museum collection
3,11000,spm,155413,0,13832,BM 44492,left,valve,1.0,picture,...,-3.250000,52.750000,UK,Wales,Powys,minutes,"""Old Series Geological Map grid references: Ll...",marine indet.,taxonomic,survey of museum collection
4,11001,spm,155411,0,13832,BGS GSM 22040,right,valve,1.0,picture,...,-3.250000,52.750000,UK,Wales,Powys,minutes,"""Old Series Geological Map grid references: Ll...",marine indet.,taxonomic,survey of museum collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90930,165427,spm,1650892,0,234346,SMNHTAU-I.442145,NaN,tegmen,1.0,text,...,96.720001,26.359167,MM,NaN,NaN,seconds,Coordinates for Noije Bum given by Selden et a...,terrestrial indet.,taxonomic,NaN
90931,165428,spm,1650893,0,161726,NIGP203880,NaN,body,1.0,text,...,96.720001,26.359167,MM,NaN,NaN,seconds,Coordinates for Noije Bum given by Selden et a...,terrestrial indet.,taxonomic,NaN
90932,165429,spm,1650893,0,161726,NIGP203881-1,NaN,body,1.0,text,...,96.720001,26.359167,MM,NaN,NaN,seconds,Coordinates for Noije Bum given by Selden et a...,terrestrial indet.,taxonomic,NaN
90933,165430,spm,1651035,0,228682,BKT-11A,NaN,wing,1.0,text,...,35.779999,33.966000,LB,NaN,NaN,3,NaN,terrestrial indet.,taxonomic,NaN
90934,165431,spm,1651035,0,228682,BKT-11A,NaN,body,1.0,text,...,35.779999,33.966000,LB,NaN,NaN,3,NaN,terrestrial indet.,taxonomic,NaN